<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <img class="card-img-top" src="./src/assets/img/LetReim.png" alt="Alongamentos">
      <div class="card-body">
        <h2 class="card-title">cabelo</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        <a class="btn btn-primary btn-sm" href="#!">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Unha</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
        <a class="btn btn-primary btn-sm" href="#!">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Maquiagem</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        <a class="btn btn-primary btn-sm" href="#!">fale conosco</a>
      </div>
    </div>
  </div>
</div>
