<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5">
    <p class="m-0 text-center text-white">
      <img src="../../../assets/img/4code.png" alt="4code logo" />
      <br />
      &copy; 4css 2023
    </p>
    <div class="mt-4 text-center">
      <a class="btn btn-light btn-lg me-2" href="tel:00000000">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a class="btn btn-light btn-lg me-2" href="https://www.instagram.com">
        <i class="bi bi-instagram"></i>
      </a>
      <a class="btn btn-light btn-lg" href="https://www.facebook.com">
        <i class="bi bi-facebook"></i>
      </a>
    </div>
  </div>
</footer>
