<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/banner-destaque.webp" alt="..." />
  </div>
  <div class="col-lg-5">
    <h1 class="font-weight-light">Curso de Maquiagem</h1>
    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
    <a class="btn btn-primary" routerLink="/contact">Valores</a>
  </div>
</div>
