<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">

    <img src="../../../assets/img/Let Rei Marca d'agua14 oficial .png  "class="logonav" alt="4code logo" />

    <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Dúvidas</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Cursos</a></li>
      </ul>
    </div>
  </div>
</nav>
